# -*- coding: utf-8 -*-
# Licensed as the GNU General Public License as published by the Free Software
# Foundation, version 3.
# Author: Felipe Bogaerts de Mattos
# Contact me at felipe.bogaerts@engenharia.ufjf.br

*.pyc
.DS_Store
.env_prod
.env_dev
.envs/
*/__pycache__/*

# IDEs
.vscode/
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
frontend/bundles/*
frontend/webpack_bundles/*
webpack-stats.json

# DBs
db.sqlite3

# Staticfiles
staticfiles/
media/

# Sass
.sass-cache

# Builds
build/
dist/

# Kubernetes
kubeconfig.yaml