{% extends 'automator/base.html' %} {% block content %} {% load static %}

<div class="container">
  <div class="py-6">
    <h1><b>DOCX Automator</b></h1>
  </div>

  <div class="py-4">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="py-2">
        <label class="form-label" for="template"
          >Upload a valid DOCX Template</label
        >
        <input class="form-control" type="file" name="template" />
      </div>
      <div class="py-2">
        <label class="form-label" for="template">Upload a json file</label>
        <input class="form-control" type="file" name="data" />
      </div>
      <button type="submit" class="btn btn-outline-success mt-4 mb-2">
        Automate
      </button>
    </form>
  </div>
</div>

{% endblock %}
